@media screen and (max-width:425px) {
    .headcontainer>.row>.col-xs-3 {
        display: none;
    }
    .wrapper>div.headcontainer {
        padding-top: 0
    }
    .aside-column {
        display: none
    }
    .content>.col-xs-9 {
        width: 100%
    }
    .content-list {
        padding-left: 20px
    }
    .logo {
        margin-left: 45px
    }
    footer .col-xs-10 {
        padding: 0 40px
    }
    .wrapper .background-wrapper {
        display: none
    }
    .container-wrap-mob .container {
        display: block
    }
    footer ul>li>a:visited,
    footer ul>li>a {
        color: #333
    }
    footer {
        background-color: transparent;
        box-shadow: none
    }

    .footer-adapt{
        background-color: #1b2830;
    }
}
